article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

body,
html {
  background: black;
  width: 100%;
  height: 100%;
}

h1 {
  margin-top: -5%;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 7vw;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #c59f61;
  background-image: -webkit-linear-gradient(-45deg, #c59f61 30%, #e9dbc3 50%, #c59f61 70%);
  background-blend-mode: hard-light;
  background-size: 200%;
  -webkit-animation: shine 3s infinite;
  transform: transale3d(0, 0, 0);
  z-index: 10;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
  background: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.blockContainer {
  height: 100vh;
}

.brand {
  z-index: 10;
  position: relative;
  height: 25.5%;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}
.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  transform: transale3d(0, 0, 0);
}

.stars {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
  transform: transale3d(0, 0, 0);
}

.mainImg {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
.mainImg:before {
  content: "";
  width: 1%;
  height: 100%;
  position: absolute;
  top: 1%;
  left: -1%;
  z-index: 100;
  box-shadow: 0 0 2em 1em black;
}
.mainImg img {
  width: 100%;
  height: auto;
  background-size: cover;
}

.new {
  width: 15%;
  height: 10%;
  position: absolute;
  top: 38%;
  left: 41.5%;
  z-index: 100;
  background: black;
}
.new p {
  color: #c59f61;
  font-family: 'Playfair Display', serif;
  margin-top: -2%;
  letter-spacing: 4px;
  font-size: 1.9vw;
}

.newBox {
  width: 40%;
  height: 35%;
  border: 1px solid white;
  position: absolute;
  top: 43%;
  left: 29%;
}
.newBox p {
  text-transform: uppercase;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2vw;
  margin-top: 10%;
}
.newBox p span.dark {
  color: black;
  font-weight: 600;
}
.newBox p span.col {
  font-style: italic;
}

.block {
  width: 43.333%;
  display: inline-block;
  height: 90%;
  vertical-align: top;
  margin: 3%;
  background: black;
  margin-top: 2.8%;
}

.block1 {
  margin-right: 7px;
  position: relative;
}

@-webkit-keyframes shine {
  from {
    background-position: 150%;
  }

  to {
    background-position: -50%;
  }
}
.block2 {
  position: relative;
}
.block2:before {
  content: "";
  width: 6%;
  height: 100%;
  position: absolute;
  top: 1%;
  left: -7%;
  z-index: 10000;
  box-shadow: 0 0 2em 2em black;
}
.block2:after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 100;
  box-shadow: 0 0 1em 1em black;
  background: black;
}

.bxslider {
  z-index: 1000;
}

.bx-wrapper {
  z-index: 100;
  height: 100%;
  max-width: 1000;
}

.bxslider li {
  height: 90vh;
  background: black;
}
.bxslider li img {
  height: 100%;
  object-fit: cover;
}

.moreInfo {
  position: absolute;
  bottom: 0%;
  left: -3%;
  z-index: 100;
  width: 45vw;
}

.qr {
  width: 10vw;
  display: inline-block;
  margin-right: 2.7vw;
}
.qr img {
  width: 100%;
  height: 100%;
}

.sale {
  width: 28vw;
  display: inline-block;
  vertical-align: top;
}
.sale p {
  color: #c59f61;
  font-family: 'Cardo', serif;
  font-style: italic;
  font-size: 2vw;
  letter-spacing: 1px;
}
.sale p span {
  font-size: 2.5vw;
  text-decoration: underline;
  line-height: 1;
}

@media screen and (min-width: 1480px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
}
@media screen and (min-width: 1911px) and (max-width: 2000px) {
  .new p {
    font-size: 1.8vw;
  }

  .new {
    height: 10%;
  }

  #carousel div {
    width: 500px;
  }

  .qr {
    margin-right: 1.1vw;
    margin-top: 1vh;
  }

  .moreInfo {
    left: -5%;
  }
}
@media screen and (min-width: 2000px) {
  .new p {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 2500px) {
  .container {
    max-width: 5300px;
    width: 100vw;
    height: 100vh;
  }

  .bxslider-wrapper {
    max-width: 1000px;
  }

  .sale p {
    font-size: 2vw;
    margin-top: 0%;
  }

  .brand {
    height: 24.5%;
  }

  .brand:before {
    left: 25%;
  }

  .new {
    top: 38%;
  }
  .new p {
    font-size: 1.9vw;
  }

  .newBox p {
    margin-top: 8%;
    font-size: 2vw;
  }

  .new:before,
  .new:after {
    top: 30%;
  }

  .moreInfo {
    left: -2%;
  }
}
